@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:700');

body {
  font-family: 'Raleway', sans-serif;
}

.blue {
  color: #085ea3;
}
.white {
  color: #fff;
}
.offwhite {
  color: rgb(186, 206, 230);
}
.gray {
  color: #6c757d;
}

.container-blue {
  background: #085ea3;
}

.navbar {
  background: #085ea3;
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-nav {
  float: right;
  text-align: right;
}

.jumbotron {
  font-family: 'Roboto', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron.jumbotron-home {
  background-image: url("../img/header.jpg");
  background-position: 50% 80%;
}
.jumbotron.jumbotron-signup {
  background-image: url("../img/will_run.jpg");
  background-position: 50% 5%;
  font-size: 30px;
}
.jumbotron h1 {
  -webkit-text-stroke: 1px white;
}

/* @media (min-width: 576px) {
  .jumbotron h1 {
    font-size: 0.4rem !important;
  }
}
@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 0.4rem !important;
  }
}
@media (min-width: 992px) {
  .jumbotron h1 {
    font-size: 0.6rem !important;
  }
}
@media (min-width: 1200px) {
  .jumbotron h1 {
    font-size: 1rem !important;
  }
} */


.btn-primary {
  background: #085ea3;
  border: none;
}
.btn-primary:hover {
  background: #3572a3;
  border: none;
}

.btn-outline-primary {
  border: 1px #085ea3 solid;
  color: #085ea3;
}
.btn-outline-primary:hover {
  border: 1px #085ea3 solid;

  background: #085ea3;
}

.card {
  max-width: 50rem;
  margin: 0 auto;
}
.card-header {
  background: #085ea3;
  color: #fff;
  text-align: center;
}

.img-mw {
  max-width: 75%;
}

label.error {
  color: red;
  display: block;
}

footer a {
  color: #fff;
}
footer a:hover {
  color: rgb(186, 206, 230);
}

html {
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.article p {
  text-indent: 1em;
  text-align: justify;
}
